body{
    background-color: turquoise;
 
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
    
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.parrafo1{
        color: tomato;

}
.parrafo2 {
        color: yellow;
}
.link1:hover {
    color:teal;
    
}
.link2:hover{
    color: yellow;
}
.link1:active{
    color:slategray
}
.link2:active{
    color:slategrey
}